<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HTTP Status Codes</title>
    <link href="/bootstrap.css" rel="stylesheet"/>
    <link href="/styles.css" rel="stylesheet"/>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 error-title">Error !!!</h1>
            <p class="lead">There was an error reading this page. Please return to <span><a href='/'>homepage!</a></span></p>
        </div>
    </div>
</body>
</html>
