<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>HTTP Status Codes</title>
    <link href="/bootstrap.css" rel="stylesheet"/>
</head>

<body>
    <h1>HTTP Status Codes</h1>
    <h2>Hypertext Transfer Protocol Response status codes. And dogs.</h2>

    <div>
        <img width="1400" height="550" src = "100-200.png" alt="http-codes-dogs"/>
        <img class="image" width="1400" height="550" src = "200-300.png" alt="http-codes-dogs"/>
        <img class="image" width="1400" height="550" src = "300-400.png" alt="http-codes-dogs"/>
        <img class="image" width="1400" height="550" src = "400(1).png" alt="http-codes-dogs"/>
        <img class="image" width="1400" height="550" src = "400(2).png" alt="http-codes-dogs"/>
        <img class="image" width="1400" height="550" src = "400-500.png" alt="http-codes-dogs"/>
        <img class="image" width="1400" height="280" src = "500.png" alt="http-codes-dogs"/>
    </div>
</body>
</html>
